/*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: forestgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
} */